@import url("../fonts/stylesheet.css");
html {
  background: url("../img/bg_portland_bridge.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
html,
body {
  height: 100%;
}
a {
  color: #0071bc;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
body {
  width: 100%;
  font-family: 'PigeonRegular';
  display: -webkit-box;
  -webkit-box-orient: vertical;
  display: -moz-box;
  -moz-box-orient: vertical;
  display: box;
  box-orient: vertical;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
}
body:before {
  content: '';
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  display: block;
  min-height: 20px;
}
body > header {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  position: relative;
  max-height: 144px;
  min-height: 120px;
}
body > header h1 {
  font-size: 72px;
  font-weight: normal;
  color: rgba(255,255,255,0.50);
}
body > header h1:after {
  content: '';
  background: url("../img/moustache.svg") no-repeat;
  width: 80px;
  height: 22px;
  position: absolute;
  left: 10px;
  top: 75px;
}
body > header h1 strong {
  color: #fff;
  font-weight: normal;
}
body #content {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  min-height: 500px;
  max-height: 600px;
  width: 360px;
  background: rgba(255,255,255,0.90);
}
body #content h2 {
  font-size: 21px;
  font-weight: normal;
  text-align: center;
  padding: 22px 0 0;
}
body #content pre {
  font-size: 14px;
  background: #000;
  color: #fff;
  width: 244px;
  position: relative;
  margin: 0 auto;
  padding: 14px 18px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0 1px 0 #fff;
  -webkit-box-shadow: 0 1px 0 #fff;
  box-shadow: 0 1px 0 #fff;
  line-height: 16px;
}
body #content section {
  margin: 20px 0;
}
body #content section .comment {
  width: 280px;
  margin: 5px auto;
}
body #content section:last-child {
  padding-bottom: 20px;
}
@media all and (max-width: 400px) {
  body #content {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: box;
    box-orient: vertical;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    width: 100%;
  }
  body #content section {
    display: block;
    margin: 20px 0 0;
  }
  body #content section:last-child {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
  }
}
