@import url('../fonts/stylesheet.css');
html
	background url('../img/bg_portland_bridge.jpg') no-repeat center center fixed
	-webkit-background-size cover
	-moz-background-size cover
	-o-background-size cover
	background-size cover
html, body
	height 100%
a
	color #0071BC
	text-decoration none
a:hover
	text-decoration underline
body
	width 100%
	font-family 'PigeonRegular'
	display -webkit-box
	-webkit-box-orient vertical
	display -moz-box
	-moz-box-orient vertical
	display box
	box-orient vertical
	-webkit-box-align center
	-moz-box-align center
	box-align center

	&:before
		content ''
		-webkit-box-flex 1
		-moz-box-flex 1
		box-flex 1
		display block
		min-height 20px

	& > header
		-webkit-box-flex 1
		-moz-box-flex 1
		box-flex 1
		position relative
		max-height 144px
		min-height 120px
		h1
			font-size 72px
			font-weight normal
			color hsla(0, 0%, 100%, 0.5)
			&:after
				content ''
				background url('../img/moustache.svg') no-repeat
				width 80px
				height 22px
				position absolute
				left 10px
				top 75px
			strong
				color hsla(0, 0%, 100%, 1)
				font-weight normal
	#content
		-webkit-box-flex 1
		-moz-box-flex 1
		box-flex 1
		min-height 500px
		max-height 600px
		width 360px
		background hsla(0, 0%, 100%, 0.9)
		h2
			font-size 21px
			font-weight normal
			text-align center
			padding 22px 0 0
		pre
			font-size 14px
			background #000
			color #FFF
			width 244px
			position relative
			margin 0 auto
			padding 14px 18px
			-webkit-border-radius 10px
			-moz-border-radius 10px
			border-radius 10px
			-moz-box-shadow 0 1px 0 #FFF
			-webkit-box-shadow 0 1px 0 #FFF
			box-shadow 0 1px 0 #FFF
			line-height 16px
		section
			margin 20px 0
			.comment
				width 280px
				margin 5px auto
			&:last-child
				padding-bottom 20px

@media all and (max-width: 400px)
	body #content
		display -webkit-box
		-webkit-box-orient vertical
		display -moz-box
		-moz-box-orient vertical
		display box
		box-orient vertical
		-webkit-box-align center
		-moz-box-align center
		box-align center
		width 100%
		section
			display block
			margin 20px 0 0
			&:last-child
				-webkit-box-flex 1
				-moz-box-flex 1
				box-flex 1
