@import url("../fonts/stylesheet.css");
html {
  background: url("../img/bg_portland_bridge.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
html,
body {
  height: 100%;
}
a {
  color: #0071bc;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
body {
  font-family: 'PigeonRegular';
  display: -webkit-box;
  -webkit-box-orient: vertical;
  display: -moz-box;
  -moz-box-orient: vertical;
  display: box;
  box-orient: vertical;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
}
body > header {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  min-height: 200px;
}
body #content {
  min-height: 400px;
  width: 360px;
  background: rgba(255,255,255,0.90);
}
body #content h2 {
  font-size: 21px;
  font-weight: normal;
  text-align: center;
  padding: 22px 0 0;
}
body #content pre {
  font-size: 14px;
  background: #000;
  color: #fff;
  width: 244px;
  position: relative;
  margin: 0 auto;
  padding: 14px 18px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0 1px 0 #fff;
  -webkit-box-shadow: 0 1px 0 #fff;
  box-shadow: 0 1px 0 #fff;
  line-height: 16px;
}
body #content section {
  margin: 20px 0;
}
body #content section .comment {
  width: 280px;
  margin: 5px auto;
}
body #content section:last-child {
  padding-bottom: 20px;
}
